{% extends 'base.html' %}

{% block title %}
★ Create a Category!
{% endblock title %}

{% block nav %}
<li><a href="{% url 'category_list' %}">Return to categories</a></li>
{% endblock nav %}

{% load static %}
{% block content %}

<main>
    <div>
        <h1>Create Category</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}
</body>
</html>
