{% extends 'base.html' %}

{% block title %}★ Categories{% endblock title %}

{% load static %}

{% block nav %}
<li><a href="{% url 'home' %}">Main Page</a></li>
<li><a href="{% url 'create_category'%}">Create a category</a></li>
{% endblock nav %}

<body>
    {% block content %}
    <main>
        <div>
            <h1>Categories </h1>

            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </thead>
                <tbody>
                    {% for thing in categories %}
                    <tr>
                        <td>{{ thing.name }}</td>
                        <td>{{ thing.receipts.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </main>
    {% endblock content %}
</body>
