{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static "css/receipts.css" %}">
        <link rel="icon" type="image/x-icon" href="https://media.tenor.com/WkHfKco2MB4AAAAj/bella-money-money.gif">
</head>

<header>

    <nav>
        <ul>
        {% if user.is_authenticated %}
            {% block nav %} {% endblock nav %}
            <li><a href="{% url 'logout'%}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        </ul>
    </nav>

</header>

<body>
    {% block content %}
    {% endblock content %}
</body>
</html>
