{% extends 'base.html' %}

{% block title %}
★ Create an Account!
{% endblock title %}

{% block nav %}
<li><a href="{% url 'account_list' %}">Return to accounts</a></li>
{% endblock nav %}

{% load static %}

{% block content %}

<main>
    <div>
        <h1>Create Account</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}
</body>
</html>
