{% extends 'base.html' %}

{% block title %}★ Accounts{% endblock title %}

{% load static %}

{% block nav %}
<li><a href="{% url 'home' %}">Main Page</a></li>
<li><a href="{% url 'create_account'%}">Create a new account</a></li>
{% endblock nav %}

<body>
    {% block content %}
    <main>
        <div>
            <h1>Your Accounts </h1>

            <table>
                <thead>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of Receipts</th>
                </thead>
                <tbody>
                    {% for item in accounts %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.number }}</td>
                        <td>{{ item.receipts.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </main>
    {% endblock content %}
</body>
