{% extends 'base.html' %}

{% block title %}
★ Create a Receipt!
{% endblock title %}

{% load static %}

{% block nav %}
<li><a href="{% url 'home' %}">Return to receipts</a></li>
{% endblock nav %}


<body>
{% block content %}

<main>
    <div>
        <h1>Create Receipt</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}
</body>
</html>
