a:link {
    color: rgb(124, 63, 63);
}

a:visited {
    text-decoration: none;
    color: rgb(88, 38, 36);
}

main{
    padding-bottom: 10px;
}

body{
    padding: 0px 15px;
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(255, 252, 248, 0.925);
}

ul{
    columns: 2;
    list-style-type:"↪  ";
}

header{
    border-radius: 10px 15px 50px;
    background-color: rgba(236, 189, 174, 0.384);
    padding: 3px;
    color:rgb(61, 61, 61);
    border: 0.5px solid rgba(139, 126, 126, 0.397);
    box-shadow: 1px 1px 1px 1px rgba(139, 126, 126, 0.247);

}

h1{
    color: rgb(41, 27, 9);
    text-shadow: 0.5px 0.5px 0.5px rgba(112, 98, 98, 0.541);
}


table{
    color: rgba(56, 37, 5, 0.911);
    padding: 10px;
    border-radius: 12px 12px;
    box-shadow: 1px 1px 1px 1px rgb(209, 186, 186);
}

table th{
    border-bottom: 1px solid;
}

table tr:nth-child(even){
    background:rgb(255, 255, 255);
}
